.main-content {
  margin-top: 56px;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.sidebar-open {
    margin-left: 240px;
  }

  .content-wrapper {
    padding: 16px;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
