.main-content {
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  height: calc(100vh - 112px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.sidebar-open {
    margin-left: 240px;
  }

  .content-wrapper {
    padding: 8px 8px 12px 8px;
    flex: 1;
    row-gap: 0px;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
